:root {
  /* Primary colors */
  --color-light-red: hsl(356, 100%, 66%);
  --color-very-light-red: hsl(355, 100%, 74%);
  --color-very-dark-blue: hsl(208, 49%, 24%);
  /* Neutral colors */
  --color-white: hsl(0, 0%, 100%);
  --color-grayish-blue: hsl(240, 2%, 79%);
  --color-very-dark-grayish-blue: hsl(207, 13%, 34%);
  --color-very-dark-black-blue: hsl(240, 10%, 16%);
  /* Header gradient */
  --color-hg-light-red: hsl(353, 100%, 62%);
  --color-hg-very-light-red: hsl(13, 100%, 72%);
  --side-padding: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Overpass", sans-serif;
  line-height: 1.8;
  box-sizing: border-box;
  background-color: var(--color-white);
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.0rem;
  font-weight: 600;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.9;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
}

::marker {
  content: "";
}

/* Main-header stuff */

.main-header {
  position: relative;
  background-image: url("./images/bg-pattern-intro.svg"),
    linear-gradient(
      180deg,
      var(--color-hg-very-light-red),
      var(--color-hg-light-red)
    );

  background-size: 300%;
  background-position: center;

  padding: var(--side-padding);
  margin-bottom: 5em;
  border-radius: 0 0 0 10rem;

  color: var(--color-white);
}

.nav-bar {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
}

.nav-bar h1 {
  float: left;
}

.header-slogan {
  margin: 3.5rem 0rem auto 0rem;
  font-size: 2.2rem;
  text-align: center;
  font-weight: 600;
  line-height: 1.5
}

.header-phrase {
  text-align: center;
  margin: .5em 2.2rem 3em 2.2rem;
  font-size: 1rem;
}

.contact {
  text-align: center;
  margin-bottom: 5rem;
}

.contact-btn {
  font-family: "Ubuntu", sans-serif;
  border-radius: 1.7rem;
  padding: .7em 1em;
  font-weight: 600;
  margin: .5em;
}

#start-free-btn {
  background: var(--color-white);
  color: var(--color-hg-light-red);
  width: 18ch;
}

#learn-more-btn {
  box-shadow: inset 0 0 0 .15em var(--color-white);
}

/* Nav menu stuff */

.nav-menu::-webkit-scrollbar {
  background: none;
  width: 5px;
  border-radius: 0.35em;
}

.nav-menu::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    var(--color-hg-very-light-red),
    var(--color-hg-light-red)
  );
  border-radius: 0.35em;
}

.nav-menu {
  display: none;
  background: var(--color-white);

  font-size: 1.6rem;
  text-align: center;

  border-radius: 0.35em;
  padding: 2em;

  color: var(--color-very-dark-blue);
  box-shadow: 0 2em 10em -5em black;

  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: thin;

  overflow: auto;
}

.nav-menu.is-visible {
  position: fixed;
  z-index: 1;
  top: 5rem;
  left: var(--side-padding);
  right: var(--side-padding);
  bottom: var(--side-padding);
  display: flex;
  flex-direction: column;
}

body.no-scroll {
  max-height: 100vh;
  overflow: hidden;
}

.nav-menu__item {
  font-weight: 600;
  margin-bottom: 1rem;
}

.nav-menu-item_btn {
  position: relative;
  display: inline-block;
  margin: auto;
  background: none;
  border: none;
  color: inherit;
  font-weight: 400;
  font-size: inherit;
}

.nav-menu-item_btn::after {
  content: "";
  background-image: url("./images/icon-arrow-dark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  position: absolute;
  z-index: 2;
  right: -14px;
  top: -3px;
  bottom: 0;
  left: calc(100% + 14px - 10px);
  transition: transform 550ms ease-out;
}

.nav-menu__link {
  text-decoration: none;
  display: block;
  margin: 1em 1.5em;
  color: inherit;
  font-weight: 300;
  font-size: 1.4rem;
}

.nav-menu__content {
  display: none;
  background-color: var(--color-grayish-blue);
  color: var(--color-very-dark-grayish-blue);
  margin: 0.4em 0;
  padding: 1em 0;
  border-radius: 0.35em;
}

.nav-menu-item_btn.show-content + .nav-menu__content {
  display: block;
  animation: slide-in 500ms linear;
}

.nav-menu-item_btn.show-content::after {
  transform: rotate(180deg);
}

.nav-menu-item_btn.show-content {
  color: var(--color-very-dark-grayish-blue);
}

.user-account {
  margin-top: auto;

  border-top: 2px solid var(--color-grayish-blue);

  display: grid;
  grid-template-areas:
    "login"
    "signup";
  justify-items: center;
  grid-gap: 2em;
  padding: 2em 0;
}

#login-button {
  font-weight: 400;
  font-family: inherit;
  font-size: 1.4rem;
  color: var(--color-very-dark-blue);
}

#sign-up-button {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--color-white);
  background: linear-gradient(
    90deg,
    var(--color-hg-very-light-red),
    var(--color-hg-light-red)
  );
  border-radius: 2em;
  padding: 0.3em 2em;
}

/* Main-content stuff */

.main-section {
  padding: var(--side-padding);
  color: var(--color-very-dark-grayish-blue);
}

.main-section__article {
  margin: 3em 0;
}

.main-section {
  text-align: center;
}

.main-section__article-title,
.main-section__title {
  text-align: center;
  color: var(--color-very-dark-blue);
  padding: 0 4rem;
  margin-bottom: 1.2em;
}

.main-section__article-content {
  text-align: center;
  margin: 0;
}

.dark-section {
  position: relative;
  --bg-size: 100%;
  background:
    url("./images/bg-pattern-circles.svg"),
    #3A3D5C;
  background-origin: border-box;

  color: var(--color-white);
  padding-top: 15rem;
  padding-bottom: 10rem;
  border-radius: 0 10rem 0 10rem;

  margin-top: 20rem;
  margin-bottom: 0;

}

.dark-section::after {
  content: "";
  position: absolute;

  background: url("./images/illustration-phones.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  --y-position: -55%;

  top: var(--y-position);
  left: 0;
  bottom: calc(-1 * var(--y-position) );
  right: 0;
  z-index: 1;
}

.dark-section .main-section__article-title {
  color: var(--color-white);
}

#editor-illustration {
  background: url("./images/illustration-editor-mobile.svg");
  background-size: 400px;
  background-repeat: no-repeat;

  background-position: center;

  width: 100%;
  height: 400px;
}

#laptop-illustration {
  background: url("./images/illustration-laptop-mobile.svg");
  background-size: 400px;
  background-repeat: no-repeat;

  background-position: center;

  width: 100%;
  height: 400px;
}

/* Footer stuff */

.main-footer {
  display: flex;
  flex-direction: column;
  background: var(--color-very-dark-black-blue);
  padding: 3em;
  text-align: center;
  border-radius: 0 10rem 0 0;
}

.footer-header {
  color: var(--color-white);
  margin-bottom: 1.6em;
}

.footer-section__header {
  font-weight: 600;
  color: var(--color-white);
  margin: 1.7em 0 1em 0;
}

.footer-section__link {
  display: block;
  color: var(--color-grayish-blue);
  text-decoration: none;
}

/* Defaults */

.attribution {
  background-color: var(--color-very-dark-black-blue);
  color: var(--color-white);
  border-top: 1px solid var(--color-grayish-blue);
}

.attribution a {
  color: var(--color-grayish-blue);
  text-decoration: none;
}

.hamburger-icon {
  background: url("./images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-size: content;
  background-position-y: 60%;
}

.close-icon {
  background: url("./images/icon-close.svg");
  background-repeat: no-repeat;
  background-size: content;
  background-position-y: 60%;
}

#toggle-nav-menu-btn {
  border: none;
  min-width: 32px;
  height: auto;
  justify-self: right;
}

.button {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* Animations */

@keyframes slide-in {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/* Media query for desktop */

@media screen and (min-width: 1000px) {

  #toggle-nav-menu-btn {
    display: none;
  }

  .main-header {
    padding-left: calc(var(--side-padding) * 3);
    padding-right: calc(var(--side-padding) * 3);
  }

  .header-slogan {
    font-size: 2.5rem;
  }

  .nav-bar {
    display: grid;
    flex-direction: row;
    grid-template-areas: "logo menu";
    grid-template-columns: fit-content(100%) auto;
    grid-gap: 5em;
  }

  .nav-bar h1 {
    grid-area: logo;
  }

  .nav-menu {
    grid-area: menu;
    display: flex;

    flex-direction: row;

    background: none;
    border: none;
    box-shadow: none;
    /* justify-content: flex-end; */
    margin: 0;
    padding: 0;

    align-content: flex-end;
    justify-content: center;
  }

  .nav-menu__item {
    color: var(--color-white);

    align-self: center;

    font-size: 1rem;

    margin: 0;
    margin-right: 3em;
  }

  .nav-menu-item_btn:hover, .nav-menu-item_btn:focus {
    text-decoration: underline;
    border: none;
    outline: none;
  }

  .nav-menu-item_btn.show-content + .nav-menu__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  .nav-menu__content {
    color: var(--color-very-dark-blue);
    background-color: var(--color-white);
    transition: none;
    padding: 1em 0;
    box-sizing: border-box;
  }

  .nav-menu__link {
    font-size: 1rem;
    margin: 0 1rem;
  }

  .nav-menu__link:hover, .nav-menu__link:focus {
    transform: scale(1.05);
    color: var(--color-very-dark-black-blue);
    outline: none;
    border: none;
  }

  .nav-menu-item_btn.show-content {
    color: var(--color-white);
  }

  .nav-menu-item_btn::after {
    background-image: url("./images/icon-arrow-light.svg");
  }

  .user-account {
    grid-template-areas: "login signup";
    padding: 0;
    margin: 0;
    border: none;

    margin-left: auto;

    grid-gap: .5em;
  }

  #sign-up-button {
    background: var(--color-white);
    color: var(--color-light-red);
    font-size: 1rem;
    justify-self: center;
    align-self: center;
    font-weight: 600;
  }

  #sign-up-button:hover, #sign-up-button:focus {
    background: var(--color-very-light-red);
    color: var(--color-white);
    border: none;
    outline: none;
  }

  #login-button {
    color: var(--color-white);
    font-size: 1rem;
    justify-self: center;
    align-self: center;
    padding: 0.3em 2em;
    font-weight: 600;
  }

  #start-free-btn:focus, #start-free-btn:hover {
    color: var(--color-white);
    background: var(--color-very-light-red);
    outline: none;
    border: none;
  }

  #learn-more-btn:focus, #learn-more-btn:hover {
    color: var(--color-very-light-red);
    background: var(--color-white);
    outline: none;
    border: none;
  }

  .header-content {
    margin-top: 5rem;
  }

  .main-section {
    display: grid;
    padding-left: 0;
    padding-right: 0;
  }

  #first-section {
    grid-template: 25% 25% 50% / auto;
    grid-template: "title title title" auto
                   "article1 article1 image" auto
                   "article2 article2 image" auto / 25% 25% auto;
    overflow: hidden;
    position: relative;
    grid-gap: 1em;
    padding-left: 7rem;
  }

  #first-section .main-section__title {
    grid-area: title;
  }

  #first-section .main-section__article:first-of-type  {
    grid-area: article1;
  }

  #first-section .main-section__article:first-of-type + .main-section__article {
    grid-area: article2;
  }


  #editor-illustration {
    grid-area: image;
    background: none;
    position: relative;
  }

  #editor-illustration::after {
    content: "";
    background: url('./images/illustration-editor-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    position: absolute;
    top:    -20%;
    left:   -20%;
    right:  -20%;
    bottom: -20%;

    transform: translateX(19%);
  }

  .dark-section {
    padding-left: 50%;
  }

  .dark-section::after {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(-20%);
  }

  #third-section {
    grid-template: 25% 25% 50% / auto;
    grid-template: "image article1 article1" auto
                   "image article2 article2" auto / auto 25% 25%;
    grid-gap: 1em;
    padding-right: 10rem;
    justify-items: center;
    margin-top: 4rem;
  }

  #third-section .main-section__title {
    grid-area: title;
  }

  #third-section .main-section__article:first-of-type {
    grid-area: article1;
  }

  #third-section .main-section__article:first-of-type + .main-section__article {
    grid-area: article2;
  }

  #laptop-illustration {
    grid-area: image;
    background: none;
    position: relative;
  }

  #laptop-illustration::after {
    content: "";
    background: url("./images/illustration-laptop-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    position: absolute;
    top:    -20%;
    left:   -20%;
    right:  -20%;
    bottom: -20%;
    transform: translateX(-15%)
  }

  .main-footer {
    flex-direction: row;
  }

  .main-footer * {
    width: 25%;
  }

  .footer-section__link:hover, .footer-section__link:focus {
    text-decoration: underline;
  }


}

